# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env

# Python virtual environments
venv/
env/
ENV/

# Pipenv
.Python
pipenv-debug.log

# Django
*.log
db.sqlite3
/staticfiles/
/media/
